In [10]:
import numpy as np
import pandas as pd
from IPython.display import display

## Code
ref p393, ch p224

In [11]:
def LCS_LENGTH(X, Y):
    # diff 1
    m = len(X) + 1
    n = len(Y) + 1
    b = [[0 for i in range(n)] for i in range(m)]
    c = [[0 for i in range(n)] for i in range(m)]

    # diff 2
    # for i in range(1, m):
    #     c[i][0] = 0
    # for j in range(n):
    #     c[0][j] = 0

    for i in range(1, m):
        for j in range(1, n):
            # diff 2
            ti, tj = i - 1, j - 1
            if X[ti] == Y[tj]:
                c[i][j] = c[i - 1][j - 1] + 1
                b[i][j] = 'UL'
            else:
                if c[i - 1][j] >= c[i][j - 1]:
                    c[i][j] = c[i - 1][j]
                    b[i][j] = 'U'
                else:
                    c[i][j] = c[i][j - 1]
                    b[i][j] = "L"
    return c, b

def PRINT_LCS(b, X, i, j):
    if i == 0 or j == 0:
        return
    if b[i][j] == 'UL':
        PRINT_LCS(b, X, i - 1, j - 1)
        print(X[i-1], end='')
    elif b[i][j] == 'U':
        PRINT_LCS(b, X, i - 1, j)
    else:
        PRINT_LCS(b, X, i, j - 1)

## Case 1

In [12]:
X = ['A','B','C','B','D','A','B']
Y = ['B','D','C','A','B','A']

c,b = LCS_LENGTH(X,Y)

display(pd.DataFrame(b))
display(pd.DataFrame(c))

ans = c[-1][-1]
print(ans)

PRINT_LCS(b,X,len(X),len(Y))

   0   1   2   3   4   5   6
0  0   0   0   0   0   0   0
1  0   U   U   U  UL   L  UL
2  0  UL   L   L   U  UL   L
3  0   U   U  UL   L   U   U
4  0  UL   U   U   U  UL   L
5  0   U  UL   U   U   U   U
6  0   U   U   U  UL   U  UL
7  0  UL   U   U   U  UL   U

   0  1  2  3  4  5  6
0  0  0  0  0  0  0  0
1  0  0  0  0  1  1  1
2  0  1  1  1  1  2  2
3  0  1  1  2  2  2  2
4  0  1  1  2  2  3  3
5  0  1  2  2  2  3  3
6  0  1  2  2  3  3  4
7  0  1  2  2  3  4  4

4
BCBA

## Case 2

In [19]:
X = ['A','B','D','C','A']
Y = ['A','D','B','C','A']

c,b = LCS_LENGTH(X,Y)

display(pd.DataFrame(b))
display(pd.DataFrame(c))

ans = c[-1][-1]
print(ans)

PRINT_LCS(b,X,len(X),len(Y))

   0   1   2   3   4   5
0  0   0   0   0   0   0
1  0  UL   L   L   L  UL
2  0   U   U  UL   L   L
3  0   U  UL   U   U   U
4  0   U   U   U  UL   L
5  0  UL   U   U   U  UL

   0  1  2  3  4  5
0  0  0  0  0  0  0
1  0  1  1  1  1  1
2  0  1  1  2  2  2
3  0  1  2  2  2  2
4  0  1  2  2  3  3
5  0  1  2  2  3  4

4
ABCA

## Case 3

In [23]:
X = ['1', '0', '0', '1', '0', '1', '0', '1']
Y = ['0', '1', '0', '1', '1', '0', '1', '1', '0']


c,b = LCS_LENGTH(X,Y)

display(pd.DataFrame(b))
display(pd.DataFrame(c))

ans = c[-1][-1]
print(ans)

PRINT_LCS(b,X,len(X),len(Y))

   0   1   2   3   4   5   6   7   8   9
0  0   0   0   0   0   0   0   0   0   0
1  0   U  UL   L  UL  UL   L  UL  UL   L
2  0  UL   U  UL   L   L  UL   L   L  UL
3  0  UL   U  UL   U   U  UL   L   L  UL
4  0   U  UL   U  UL  UL   U  UL  UL   L
5  0  UL   U  UL   U   U  UL   U   U  UL
6  0   U  UL   U  UL  UL   U  UL  UL   U
7  0  UL   U  UL   U   U  UL   U   U  UL
8  0   U  UL   U  UL  UL   U  UL  UL   U

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  1  1  1  1  1  1  1  1
2  0  1  1  2  2  2  2  2  2  2
3  0  1  1  2  2  2  3  3  3  3
4  0  1  2  2  3  3  3  4  4  4
5  0  1  2  3  3  3  4  4  4  5
6  0  1  2  3  4  4  4  5  5  5
7  0  1  2  3  4  4  5  5  5  6
8  0  1  2  3  4  5  5  6  6  6

6
100110

## Exercise

In [25]:
# 2
def REFACTOR_LCS(c, X, Y):
    lcs = []
    i, j = len(X), len(Y)
    while i != 0 and j != 0:
        if c[i][j] == c[i - 1][j - 1] + 1:
            lcs.append(X[i - 1])
            i -= 1
            j -= 1
        elif c[i][j] == c[i - 1][j]:
            i -= 1
        else:
            j -= 1
    return ''.join(lcs[::-1])


print(REFACTOR_LCS(c, X, Y))

101011

In [24]:
# 3
def MEMO_LCS_LENGTH(X, Y):
    m, n = len(X) + 1, len(Y) + 1

    b = [[0 for i in range(n)] for i in range(m)]
    c = [[0 for i in range(n)] for i in range(m)]

    def __LCS_LENGTH(i, j):
        if i == 0 or j == 0:
            return 0
        if b[i][j] != 0:
            return b[i][j]
        else:
            if X[i - 1] == Y[j - 1]:
                b[i][j] = __LCS_LENGTH(i - 1, j - 1) + 1
                c[i][j] = 'UL'
            else:
                if __LCS_LENGTH(i-1,j)>= __LCS_LENGTH(i,j-1):
                    b[i][j] = __LCS_LENGTH(i-1,j)
                    c[i][j] = 'L'
                else:
                    b[i][j] = __LCS_LENGTH(i,j-1)
                    c[i][j] = 'U'
            return b[i][j]

    ans = __LCS_LENGTH(m - 1, n - 1)
    # display(pd.DataFrame(b))
    return ans

print(MEMO_LCS_LENGTH(X, Y))

6

In [ ]:
# 4 ref: https://blog.csdn.net/qq_37341466/article/details/83036039
# 4.1
def OPT_LCS_LENGTH_1(X, Y):
    m, n = len(X), len(Y)
    dp = [[0 for i in range(n + 1)] for i in range(2)]
    cur = 1
    pre = 0
    for i in range(1, m + 1):
        for j in range(1, n + 1):
            if X[i - 1] == Y[j - 1]:
                dp[cur][j] = dp[pre][j - 1] + 1
            else:
                dp[cur][j] = max(dp[cur][j - 1], dp[pre][j])
        cur, pre = pre, cur

    return dp[pre][-1]


print(OPT_LCS_LENGTH_1(X, Y))


# 4.2
def OPT_LCS_LENGTH_2(X, Y):
    m, n = len(X), len(Y)
    dp = [0 for i in range(n + 1)]
    cur = 1
    pre = 0
    for i in range(1, m + 1):
        old = dp[0]
        for j in range(1, n + 1):
            tmp = dp[j]
            if X[i - 1] == Y[j - 1]:
                dp[j] = old + 1
            else:
                dp[j] = max(dp[j - 1], dp[j])
            old = tmp
        cur, pre = pre, cur

    return dp[-1]

print(OPT_LCS_LENGTH_2(X, Y))

In [ ]:
# 5
# it is LIS problem, ref:
# https://www.cnblogs.com/sunjianzhao/p/13543757.html
# https://en.wikipedia.org/wiki/Longest_increasing_subsequence

def LIS_nn_1(s):
    n = len(s)
    f = [1 for _ in range(n)]
    for i in range(1,n):
        for j in range(i):
            if s[i]>s[j]:
                f[i] = max(f[i],f[j]+1)
    return f[-1]
def LIS_nn_2(s):
    y = sorted(s)
    return OPT_LCS_LENGTH_1(s,y)

s = [4,2,3,1,5,6]
print(LIS_nn_1(s))
print(LIS_nn_2(s))

thread:
LIS is **increasing sequence**

assume we have a part of LIS **f**,and we still have some remain element

for every remain element s[i] we meet

if s[i] > f[-1],we append it to **f** of course

but when s[i] < f[-1], notice we get a smaller element s[i]

we want to get longest increasing sequence, now we get a smaller element s[i], we can
replace a element in **f** which bigger than s[i].

why we need replace element? notice a smaller number in **f** can offer more space to construct LIS.
for this case: `s = [9,1,2,3]` this LIS is `[1,2,3]`, if we keep first element `9` in our LIS, it will haven't not space
to store remain element.

how to find the element which will replace? notice LIS is increasing number, we can use binary search to help us to find this element

notice `f` just store length information, the element in `f` is not FIS element

In [ ]:
# 6
def LIS_nlogn(s):
    n = len(s)
    size = 0
    f = [0 for i in range(n)]
    f[0] = s[0]
    for i in range(1,n):
        if s[i] > f[size]:
            size += 1
            f[size] = s[i]
        else:
            l,r = 0,size
            while l<r:
                mid = (l+r) // 2
                if f[mid] < s[i]:
                    l = mid+1
                else:
                    r = mid
            f[l] = s[i]

    # print(f)
    # while size:
    #     if f[size]>0:
    #         return size + 1
    #     size -= 1
    return size+1

# s = [4,2,3,1,5,6]
s = [0,8,4,12,2,10,6,14,1,9,5,13,3,11,7,15]
# s = [1,2,3]
print(LIS_nlogn(s))

## leetcode

1143\. Longest Common Subsequence
https://leetcode.com/problems/lon1gest-common-subsequence/

300\. Longest Increasing Subsequence
https://leetcode.com/problems/longest-increasing-subsequence/