In [9]:
import numpy as np
import pandas as pd
from IPython.display import display

## Code
ref p374, ch at p213

In [6]:
def MATRIX_CHAIN_ORDER(p):
    # âˆž
    inf = 0xffff
    # diff 1: i start at 1,end at n, so let n = p.length, not p.length-1
    n = len(p)
    m = [[0 for i in range(n)] for i in range(n)]
    s = [[0 for i in range(n)] for i in range(n)]

    for i in range(1, n):
        m[i][i] = 0

    for l in range(2, n):
        for i in range(1, n - l + 1):
            j = i + l - 1
            m[i][j] = inf
            for k in range(i, j):
                q = m[i][k] + m[k + 1][j] + p[i - 1] * p[k] * p[j]
                if q < m[i][j]:
                    m[i][j] = q
                    s[i][j] = k
    return m, s

## Case 1

Assume we get matrixs $A_1 = 10*15$, $A_2 = 15*5$, $A_3 = 5*5$
> p = [10,15,5,5]

In [3]:
p = [10,15,5,5]

m,s = MATRIX_CHAIN_ORDER(p)

pm = pd.DataFrame(m)                                                                                                        
ps = pd.DataFrame(s)

display(pm)
display(ps)

   0  1    2     3
0  0  0    0     0
1  0  0  750  1000
2  0  0    0   375
3  0  0    0     0

   0  1  2  3
0  0  0  0  0
1  0  0  1  2
2  0  0  0  2
3  0  0  0  0

## Case 2

> p = [30, 35, 15, 5, 10, 20, 25]

In [4]:
p = [30, 35, 15, 5, 10, 20, 25]

m,s = MATRIX_CHAIN_ORDER(p)

pm = pd.DataFrame(m)
ps = pd.DataFrame(s)

display(pm)
display(ps)

   0  1      2     3     4      5      6
0  0  0      0     0     0      0      0
1  0  0  15750  7875  9375  11875  15125
2  0  0      0  2625  4375   7125  10500
3  0  0      0     0   750   2500   5375
4  0  0      0     0     0   1000   3500
5  0  0      0     0     0      0   5000
6  0  0      0     0     0      0      0

   0  1  2  3  4  5  6
0  0  0  0  0  0  0  0
1  0  0  1  1  3  3  3
2  0  0  0  2  3  3  3
3  0  0  0  0  3  3  3
4  0  0  0  0  0  4  5
5  0  0  0  0  0  0  5
6  0  0  0  0  0  0  0

## How it roll

In [5]:
def MATRIX_CHAIN_ORDER(p):
    inf = 0xffff
    # i start at 1,end at n, so let n = p.length, not p.length-1
    n = len(p)
    m = [[0 for i in range(n)] for i in range(n)]
    s = [[0 for i in range(n)] for i in range(n)]

    for i in range(1, n):
        m[i][i] = 0

    for l in range(2, n):
        for i in range(1, n - l + 1):
            j = i + l - 1
            m[i][j] = inf
            for k in range(i, j):
                print(i,j,k)
                q = m[i][k] + m[k + 1][j] + p[i - 1] * p[k] * p[j]
                if q < m[i][j]:
                    m[i][j] = q
                    s[i][j] = k
                    print(f'm[{i}][{k}] + m[{k+1}][{j}] + p[{i-1}]*p[{k}]*p[{j}]')
                    display(pd.DataFrame(m))
                    print("=" * 10)
    return m, s

p = [30, 35, 15, 5, 10, 20, 25]

m,s = MATRIX_CHAIN_ORDER(p)

pm = pd.DataFrame(m)
ps = pd.DataFrame(s)

display(pm)
display(ps)

1 2 1
m[1][1] + m[2][2] + p[0]*p[1]*p[2]
==========
2 3 2
m[2][2] + m[3][3] + p[1]*p[2]*p[3]
==========
3 4 3
m[3][3] + m[4][4] + p[2]*p[3]*p[4]
==========
4 5 4
m[4][4] + m[5][5] + p[3]*p[4]*p[5]
==========
5 6 5
m[5][5] + m[6][6] + p[4]*p[5]*p[6]
==========
1 3 1
m[1][1] + m[2][3] + p[0]*p[1]*p[3]
==========
1 3 2
2 4 2
m[2][2] + m[3][4] + p[1]*p[2]*p[4]
==========
2 4 3
m[2][3] + m[4][4] + p[1]*p[3]*p[4]
==========
3 5 3
m[3][3] + m[4][5] + p[2]*p[3]*p[5]
==========
3 5 4
4 6 4
m[4][4] + m[5][6] + p[3]*p[4]*p[6]
==========
4 6 5
m[4][5] + m[6][6] + p[3]*p[5]*p[6]
==========
1 4 1
m[1][1] + m[2][4] + p[0]*p[1]*p[4]
==========
1 4 2
1 4 3
m[1][3] + m[4][4] + p[0]*p[3]*p[4]
==========
2 5 2
m[2][2] + m[3][5] + p[1]*p[2]*p[5]
==========
2 5 3
m[2][3] + m[4][5] + p[1]*p[3]*p[5]
==========
2 5 4
3 6 3
m[3][3] + m[4][6] + p[2]*p[3]*p[6]
==========
3 6 4
3 6 5
1 5 1
m[1][1] + m[2][5] + p[0]*p[1]*p[5]
==========
1 5 2
m[1][2] + m[3][5] + p[0]*p[2]*p[5]
==========
1 5 3
m[1][3] + m[4][5] + p[0]*p[3]*p[5]
==========
1 5 4
2 6 2
m[2][2] + m[3][6] + p[1]*p[2]*p[6]
==========
2 6 3
m[2][3] + m[4][6] + p[1]*p[3]*p[6]
==========
2 6 4
2 6 5
1 6 1
m[1][1] + m[2][6] + p[0]*p[1]*p[6]
==========
1 6 2
m[1][2] + m[3][6] + p[0]*p[2]*p[6]
==========
1 6 3
m[1][3] + m[4][6] + p[0]*p[3]*p[6]
==========
1 6 4
1 6 5

   0  1      2  3  4  5  6
0  0  0      0  0  0  0  0
1  0  0  15750  0  0  0  0
2  0  0      0  0  0  0  0
3  0  0      0  0  0  0  0
4  0  0      0  0  0  0  0
5  0  0      0  0  0  0  0
6  0  0      0  0  0  0  0

   0  1      2     3  4  5  6
0  0  0      0     0  0  0  0
1  0  0  15750     0  0  0  0
2  0  0      0  2625  0  0  0
3  0  0      0     0  0  0  0
4  0  0      0     0  0  0  0
5  0  0      0     0  0  0  0
6  0  0      0     0  0  0  0

   0  1      2     3    4  5  6
0  0  0      0     0    0  0  0
1  0  0  15750     0    0  0  0
2  0  0      0  2625    0  0  0
3  0  0      0     0  750  0  0
4  0  0      0     0    0  0  0
5  0  0      0     0    0  0  0
6  0  0      0     0    0  0  0

   0  1      2     3    4     5  6
0  0  0      0     0    0     0  0
1  0  0  15750     0    0     0  0
2  0  0      0  2625    0     0  0
3  0  0      0     0  750     0  0
4  0  0      0     0    0  1000  0
5  0  0      0     0    0     0  0
6  0  0      0     0    0     0  0

   0  1      2     3    4     5     6
0  0  0      0     0    0     0     0
1  0  0  15750     0    0     0     0
2  0  0      0  2625    0     0     0
3  0  0      0     0  750     0     0
4  0  0      0     0    0  1000     0
5  0  0      0     0    0     0  5000
6  0  0      0     0    0     0     0

   0  1      2     3    4     5     6
0  0  0      0     0    0     0     0
1  0  0  15750  7875    0     0     0
2  0  0      0  2625    0     0     0
3  0  0      0     0  750     0     0
4  0  0      0     0    0  1000     0
5  0  0      0     0    0     0  5000
6  0  0      0     0    0     0     0

   0  1      2     3     4     5     6
0  0  0      0     0     0     0     0
1  0  0  15750  7875     0     0     0
2  0  0      0  2625  6000     0     0
3  0  0      0     0   750     0     0
4  0  0      0     0     0  1000     0
5  0  0      0     0     0     0  5000
6  0  0      0     0     0     0     0

   0  1      2     3     4     5     6
0  0  0      0     0     0     0     0
1  0  0  15750  7875     0     0     0
2  0  0      0  2625  4375     0     0
3  0  0      0     0   750     0     0
4  0  0      0     0     0  1000     0
5  0  0      0     0     0     0  5000
6  0  0      0     0     0     0     0

   0  1      2     3     4     5     6
0  0  0      0     0     0     0     0
1  0  0  15750  7875     0     0     0
2  0  0      0  2625  4375     0     0
3  0  0      0     0   750  2500     0
4  0  0      0     0     0  1000     0
5  0  0      0     0     0     0  5000
6  0  0      0     0     0     0     0

   0  1      2     3     4     5     6
0  0  0      0     0     0     0     0
1  0  0  15750  7875     0     0     0
2  0  0      0  2625  4375     0     0
3  0  0      0     0   750  2500     0
4  0  0      0     0     0  1000  6250
5  0  0      0     0     0     0  5000
6  0  0      0     0     0     0     0

   0  1      2     3     4     5     6
0  0  0      0     0     0     0     0
1  0  0  15750  7875     0     0     0
2  0  0      0  2625  4375     0     0
3  0  0      0     0   750  2500     0
4  0  0      0     0     0  1000  3500
5  0  0      0     0     0     0  5000
6  0  0      0     0     0     0     0

   0  1      2     3      4     5     6
0  0  0      0     0      0     0     0
1  0  0  15750  7875  14875     0     0
2  0  0      0  2625   4375     0     0
3  0  0      0     0    750  2500     0
4  0  0      0     0      0  1000  3500
5  0  0      0     0      0     0  5000
6  0  0      0     0      0     0     0

   0  1      2     3     4     5     6
0  0  0      0     0     0     0     0
1  0  0  15750  7875  9375     0     0
2  0  0      0  2625  4375     0     0
3  0  0      0     0   750  2500     0
4  0  0      0     0     0  1000  3500
5  0  0      0     0     0     0  5000
6  0  0      0     0     0     0     0

   0  1      2     3     4      5     6
0  0  0      0     0     0      0     0
1  0  0  15750  7875  9375      0     0
2  0  0      0  2625  4375  13000     0
3  0  0      0     0   750   2500     0
4  0  0      0     0     0   1000  3500
5  0  0      0     0     0      0  5000
6  0  0      0     0     0      0     0

   0  1      2     3     4     5     6
0  0  0      0     0     0     0     0
1  0  0  15750  7875  9375     0     0
2  0  0      0  2625  4375  7125     0
3  0  0      0     0   750  2500     0
4  0  0      0     0     0  1000  3500
5  0  0      0     0     0     0  5000
6  0  0      0     0     0     0     0

   0  1      2     3     4     5     6
0  0  0      0     0     0     0     0
1  0  0  15750  7875  9375     0     0
2  0  0      0  2625  4375  7125     0
3  0  0      0     0   750  2500  5375
4  0  0      0     0     0  1000  3500
5  0  0      0     0     0     0  5000
6  0  0      0     0     0     0     0

   0  1      2     3     4      5     6
0  0  0      0     0     0      0     0
1  0  0  15750  7875  9375  28125     0
2  0  0      0  2625  4375   7125     0
3  0  0      0     0   750   2500  5375
4  0  0      0     0     0   1000  3500
5  0  0      0     0     0      0  5000
6  0  0      0     0     0      0     0

   0  1      2     3     4      5     6
0  0  0      0     0     0      0     0
1  0  0  15750  7875  9375  27250     0
2  0  0      0  2625  4375   7125     0
3  0  0      0     0   750   2500  5375
4  0  0      0     0     0   1000  3500
5  0  0      0     0     0      0  5000
6  0  0      0     0     0      0     0

   0  1      2     3     4      5     6
0  0  0      0     0     0      0     0
1  0  0  15750  7875  9375  11875     0
2  0  0      0  2625  4375   7125     0
3  0  0      0     0   750   2500  5375
4  0  0      0     0     0   1000  3500
5  0  0      0     0     0      0  5000
6  0  0      0     0     0      0     0

   0  1      2     3     4      5      6
0  0  0      0     0     0      0      0
1  0  0  15750  7875  9375  11875      0
2  0  0      0  2625  4375   7125  18500
3  0  0      0     0   750   2500   5375
4  0  0      0     0     0   1000   3500
5  0  0      0     0     0      0   5000
6  0  0      0     0     0      0      0

   0  1      2     3     4      5      6
0  0  0      0     0     0      0      0
1  0  0  15750  7875  9375  11875      0
2  0  0      0  2625  4375   7125  10500
3  0  0      0     0   750   2500   5375
4  0  0      0     0     0   1000   3500
5  0  0      0     0     0      0   5000
6  0  0      0     0     0      0      0

   0  1      2     3     4      5      6
0  0  0      0     0     0      0      0
1  0  0  15750  7875  9375  11875  36750
2  0  0      0  2625  4375   7125  10500
3  0  0      0     0   750   2500   5375
4  0  0      0     0     0   1000   3500
5  0  0      0     0     0      0   5000
6  0  0      0     0     0      0      0

   0  1      2     3     4      5      6
0  0  0      0     0     0      0      0
1  0  0  15750  7875  9375  11875  32375
2  0  0      0  2625  4375   7125  10500
3  0  0      0     0   750   2500   5375
4  0  0      0     0     0   1000   3500
5  0  0      0     0     0      0   5000
6  0  0      0     0     0      0      0

   0  1      2     3     4      5      6
0  0  0      0     0     0      0      0
1  0  0  15750  7875  9375  11875  15125
2  0  0      0  2625  4375   7125  10500
3  0  0      0     0   750   2500   5375
4  0  0      0     0     0   1000   3500
5  0  0      0     0     0      0   5000
6  0  0      0     0     0      0      0

   0  1      2     3     4      5      6
0  0  0      0     0     0      0      0
1  0  0  15750  7875  9375  11875  15125
2  0  0      0  2625  4375   7125  10500
3  0  0      0     0   750   2500   5375
4  0  0      0     0     0   1000   3500
5  0  0      0     0     0      0   5000
6  0  0      0     0     0      0      0

   0  1  2  3  4  5  6
0  0  0  0  0  0  0  0
1  0  0  1  1  3  3  3
2  0  0  0  2  3  3  3
3  0  0  0  0  3  3  3
4  0  0  0  0  0  4  5
5  0  0  0  0  0  0  5
6  0  0  0  0  0  0  0